<table class="kudos_form">
<%=form_for kudos do |f|%>
<tr>
<td>
    <%=f.label :profession%>
</td>
<td>
    <%=f.collection_select :profession, professions, :category, :category%><br>
</td>
</tr>
<tr>
<td>
    <%=f.label :title%>
</td>
<td>
    <%=f.text_field :title%><br>
</td>
</tr>
<tr>
<td>
    <%=f.label :comment%>
</td>
<td>
    <%=f.text_area :comment%><br>
</td>
</tr>
<tr>
<td>
    <%=f.hidden_field :supporter_id, :value=>supporter_id%>
    <%=f.submit "Give Kudos!"%>
</td>
</tr>
<%end%>
</table>