<h1> Fulfill Request </h1>

<p><%=@request.venmo_name%> needs $<%=@request.money_needed%> for <%=@request.title%>.</p>
<br>
<%if flash[:error_messages]%>
    <%flash[:error_messages].each do |message|%>
        <%=message%><br>
    <%end%><br>    
<%end%>
<br>
<br>
<%=form_for @respond do |f|%>
    <%=f.label :request_id%> <%=f.hidden_field :request_id, :value=>@request.id%><br><br>
    <%=f.label :supporter_id%> <%=f.hidden_field :supporter_id, :value=>@supporter_id%><br><br>
    <%=f.label "Share"%> <%=f.number_field :amount, :value=>@request.money_needed%><br><br>
    <%=f.label :message%> <%=f.text_field :message%><br><br>
    <%=f.label :status%> <%=f.hidden_field :status, :value=>"pending"%><br><br>
    <%=f.submit%>
<%end%>