<h1> Welcome, <%= @worker.full_name%> </h1>
<p><i>You have received $<%=@stats%> from your supporters!</i></p>
<br><br><br>

<h2 class="show_worker"> What's good! </h2>
<p><%=link_to "Check out some nice things people have said", workers_path%></p>
<br><br><br>

<table>
<tr>
<th><h2> Create a new financial request </h2></th>
<th><h2> See your requests: </h2></th>
</tr>

<tr>
<td>
<%= render partial: "financial_requests/form", locals: {financial_request: @request, worker_id: @worker.id} %>
<br><br><br>
</td>

<td>
<% @all_requests.each do |request|%>
<p>$<%=link_to request.money_needed, financial_request_path(request.id)%> requested on <%=request.created_at%><br>
<%=request.title%> | <%=request.description%><br>
Status: <b><%=request.status%></b></p>
<%end%>
</td>
</tr>
</table>