<h1> Welcome, <%= @supporter.full_name%> </h1>
<p><i> You have provided $<%=@stats%> in support!</i></p>
<br><br>

<div class="body">
<table>
<tr>
    <th><h2 id="supporter"> Available Requests </h2>
    <i>Most recent needs are listed first.</i></th>

    <th><h2 id="supporter"> Your Pending/Received Support </h2>
    <i>Please note that "pending" does not mean your support has not been received,<br>
    it only means it has not been acknowledged in this app.</i></th>

    <th><h2> Give Essential Workers Kudos! </h2></th>
</tr>
<tr>
<td>
<% @requests.each do |request|%>
<p>
<%=request.worker.username%> requested $<%=request.money_needed%> to <%=request.venmo_name%><br>
<%=request.title%> | <%=request.description%><br>
Status: <b><%=request.status%> <%=link_to "Support this person", new_request_response_path(:financial_request_id=>request.id)%></b><br><br>
</p>
<%end%>
</ul>
</td>

<td>
<% @myrequests.each do |request|%>
<p>
Request Number: <%=request.financial_request_id%><br>
Amount: $<%=request.amount%><br>
Status: <b><%=request.status%></b><br>
</p>
<%end%>
</td>

<td>
<p><%= render partial: "kudos/form", locals: {kudos: @kudos, professions: @professions, supporter_id: @supporter_id} %></p>
<td></tr>
</table>
</div>