<!DOCTYPE html>
<html>
  <head>
    <title>EssentialWorkerAid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%if flash[:error_messages]%>
      <%flash[:error_messages].each do |message|%>
        <%=message%><br>
      <%end%><br>    
    <%end%>
    <br><br>

    <%= yield %>

    <%#if session[:user]%>
     <br><br> <h2> <%= link_to "Log Out", logout_path%> </h2>
    <%#end%>
  </body>
</html>
